#container{
    display: inline-block;
    width: 350px;
    height: 500px;
    background-color: aquamarine;
}

#name{
    margin: 30px;
}

#salary{
    margin: 30px;
}

#birthday{
    margin: 30px;
}

#phone{
    margin: 30px;
}

#errorMessage{
    color: red;
    margin: 30px;
}

#submit{
    margin: 30px;
}